[Makefile]
indent_style = tab

[*.proto]
indent_size = 2
indent_style = space

[*.json]
indent_size = 2
indent_style = space
ij_continuation_indent_size = 2

[*.{yaml,yml}]
indent_size = 2
indent_style = space
ij_continuation_indent_size = 2
