global: {}

sources:
  metrics:
    type: internal_metrics
  selfstat:
    type: selfstat

transforms:
  add_tags:
    type: add_tags
    inputs:
      - metrics
      - selfstat
    tags:
      host: ${HOSTNAME}

sinks:
  prom:
    type: prometheus_exporter
    inputs:
      - add_tags
  stdout:
    type: console
    inputs:
      - add_tags
    stream: stdout
    encoding:
      codec: json