sources:
  jaeger:
    type: jaeger
    protocols:
      thrift_compact:
        max_packet_size: 65000
      thrift_binary: {}
      thrift_http: {}
      grpc: {}

sinks:
  stdout:
    type: console
    inputs:
      - jaeger
    encoding:
      codec: json