[target.'cfg(feature = "cargo-clippy")']
rustflags = [
  "-Dclippy::print_stdout",
  "-Dclippy::print_stderr",
  "-Dclippy::dbg_macro",
]

[target.x86_64-unknown-linux-gnu]
rustflags = ["-C", "link-args=-rdynamic"]

[target.x86_64-unknown-linux-musl]
rustflags = "-L /libstdc++"
