name: Benchmark

on:
  push:
    branches:
      - master
    paths:
      - ".github/workflows/benches.yml"
      - ".cargo/**"
      - "benches/**"
      - "ci/bench/**"
      - "lib/**"
      - "src/**"
      - "tests/**"
      - "Cargo.toml"
      - "Cargo.lock"
      - "rust-toolchain"
  workflow_dispatch: {}

permissions:
  deployments: write
  contents: write

env:
  CI: true

jobs:
  cancel-previous:
    runs-on: ubuntu-20.04
    timeout-minutes: 3
    steps:
      - uses: styfle/cancel-workflow-action@0.11.0
        with:
          access_token: ${{ secrets.GITHUB_TOKEN }}
          all_but_latest: true # can cancel workflows scheduled later

  bench:
    name: Bench - ${{ matrix.target }}
    runs-on: ubuntu-20.04
    needs:
      - cancel-previous
    strategy:
      matrix:
        target:
          - vertex
          - prometheus
          - tracing-limit
          - condition
          - metrics
          - event
    steps:
      - uses: actions/checkout@v3
      - uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-cargo-
      - run: sudo -E bash ci/environment/bootstrap-ubuntu-20.04.sh
      - run: bash ci/prepare.sh
      - run: make bench-${{ matrix.target }} | tee bench.txt
      - run: bash ./ci/bench/extract_criterion_results.sh
      - name: Store bench results
        uses: benchmark-action/github-action-benchmark@v1
        with:
          name: ${{ matrix.target }}
          tool: customSmallerIsBetter
          output-file-path: bench.json
          github-token: ${{ secrets.GITHUB_TOKEN }}
          auto-push: true
          comment-on-alert: true
          benchmark-data-dir-path: bench
          max-items-in-chart: 50
