name: Check

on:
  workflow_dispatch: {}
  pull_request:
    paths:
      - ".github/workflows/check.yml"
      - ".cargo/**"
      - "benches/**"
      - "ci/bench/**"
      - "lib/**"
      - "src/**"
      - "tests/**"
      - "Cargo.toml"
      - "Cargo.lock"
      - "rust-toolchain"
      - "ci/**"
      - "Makefile"

env:
  CI: true
  RUST_TEST_THREADS: 1
  RUST_BACKTRACE: full
  PROFILE: debug

jobs:
  cancel-previous:
    runs-on: ubuntu-20.04
    timeout-minutes: 3
    if: github.ref != 'refs/heads/master'
    steps:
      - uses: styfle/cancel-workflow-action@0.11.0
        with:
          access_token: ${{ secrets.GITHUB_TOKEN }}
          all_but_latest: true # can cancel workflows scheduled later

  style:
    name: "Style Checks"
    runs-on: ubuntu-20.04
    needs:
      - cancel-previous
    steps:
      - uses: actions/checkout@v3
      - uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-cargo-
      - name: Install Shellcheck
        run: sudo apt-get install -y shellcheck
      - name: Install Protoc
        run: sh ci/install_protoc.sh
      - name: Install clippy & rustfmt
        run: rustup component add clippy rustfmt
      - name: Check shell
        run: bash ci/check-scripts.sh
      - name: Check fmt
        run: cargo fmt -- --check
      - name: Check rust
        run:  make check_clippy
