name: Nightly

on:
  workflow_dispatch: {}
  schedule:
    - cron: "0 2 * * *"

env:
  CI: true
  CHANNEL: nightly

jobs:
  x86_64-unknown-linux-musl:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v4
      - uses: docker/login-action@v3
        with:
          registry: docker.io
          username: f1shl3gs
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - run: docker build -f ci/cross/x86_64-unknown-linux-musl.dockerfile -t vertex-cross:x86_64-unknown-linux-musl ci/cross
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          target: x86_64-unknown-linux-musl
      - uses: actions-rs/cargo@v1
        with:
          use-cross: true
          command: build
          args: --target x86_64-unknown-linux-musl --release --no-default-features --features target-x86_64-unknown-linux-musl
      - run: cp target/x86_64-unknown-linux-musl/release/vertex distribution/docker
      - uses: docker/build-push-action@v5
        with:
          context: distribution/docker
          push: true
          tags: f1shl3gs/vertex:nightly-alpine
          file: distribution/docker/alpine/Dockerfile

  x86_64-unknown-linux-gnu:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v4
      - name: Install Protoc
        uses: arduino/setup-protoc@v2
        with:
          version: '3.14.0'
      - uses: docker/login-action@v3
        with:
          registry: docker.io
          username: f1shl3gs
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - run: docker build -f ci/cross/x86_64-unknown-linux-gnu.dockerfile -t vertex-cross:x86_64-unknown-linux-gnu ci/cross
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          target: x86_64-unknown-linux-gnu
      - uses: actions-rs/cargo@v1
        with:
          use-cross: true
          command: build
          args: --target x86_64-unknown-linux-gnu --release --no-default-features --features target-x86_64-unknown-linux-gnu
      - run: cp target/x86_64-unknown-linux-gnu/release/vertex distribution/docker
      - uses: docker/build-push-action@v5
        with:
          context: distribution/docker
          push: true
          tags: f1shl3gs/vertex:nightly-distroless
          file: distribution/docker/distroless-libc/Dockerfile