name: Test

on:
  workflow_dispatch:
  pull_request:

env:
  CI: true
  PROFILE: debug
  VERBOSE: true
  RUST_BACKTRACE: full

jobs:
  cancel-previous:
    name: Cancel redundant jobs
    runs-on: ubuntu-20.04
    timeout-minutes: 3
    steps:
      - uses: styfle/cancel-workflow-action@0.12.0
        with:
          access_token: ${{ secrets.GITHUB_TOKEN }}
          all_but_latest: true

  changes:
    name: Changes
    runs-on: ubuntu-20.04
    needs:
      - cancel-previous
    # Set job outputs to values from filter step
    outputs:
      source: ${{ steps.filter.outputs.source }}
      dependencies: ${{ steps.filter.outputs.dependencies }}
    steps:
      - uses: actions/checkout@v4
      - uses: dorny/paths-filter@v2
        id: filter
        with:
          filters: |
            source:
              - ".github/workflows/test.yml"
              - ".cargo/**"
              - "lib/**"
              - "src/**"
              - "tests/**"
              - "build.rs"
              - "Cargo.toml"
              - "Cargo.lock"
              - "Makefile"
              - "rust-toolchain.toml"
              - ".cargo/**"
              - "scripts/**"
              - "ci/**"

  cross:
    name: Cross - ${{ matrix.target }}
    runs-on: ubuntu-20.04
    needs: changes
    if: ${{ needs.changes.outputs.source == 'true' }}
    strategy:
      matrix:
        target:
          - x86_64-unknown-linux-gnu
          - x86_64-unknown-linux-musl
    steps:
      - uses: actions/checkout@v4
      - uses: actions/cache@v3
        name: Cache Cargo registry + index
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-cargo-
      - run: sudo -E bash ci/environment/bootstrap-ubuntu-20.04.sh
      - run: bash ci/prepare.sh
      - name: Building container
        run: docker build -f ci/cross/${{ matrix.target }}.dockerfile -t vertex-cross:${{ matrix.target }} ci/cross
      - run: make ${{ matrix.target }}

  test:
    name: Cargo test
    runs-on: ubuntu-20.04
    needs: changes
    if: ${{ needs.changes.outputs.source == 'true' }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-cargo-
      - run: sudo -E bash ci/environment/bootstrap-ubuntu-20.04.sh
      - run: bash ci/prepare.sh
      - name: Install nextest
        uses: taiki-e/install-action@nextest
      - run: make test
      - run: make doc-test

  integration:
    name: Integration tests
    runs-on: ubuntu-20.04
    needs: changes
    if: ${{ needs.changes.outputs.source == 'true' }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-cargo-
      - run: sudo -E bash ci/environment/bootstrap-ubuntu-20.04.sh
      - run: bash ci/prepare.sh
      - run: make integration-tests